.hero {
  background: #84A278;

  &__container {
    margin: 0 auto;
    padding: 0;
    max-width: var(--container-width);
    background-image: url('../../img/hero-dots.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
      background-image: url('../../img/hero-dots-2.png');
    }

    @include mobile {
      background-image: url('../../img/hero-dots-3.png');
    }
  }

  &__wrapper {
    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__left {
    grid-column: 5 span;
  }

  &__title {
    margin: 0;
    margin-top: 118px;
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--light-color);

    @include tablet {
      max-width: 181px;
      font-size: 18px;
      line-height: 23px;
      span {
        font-size: 24px;
        line-height: 13px;
      }
    }
  }

  &__products {
    margin-top: 28px;
    margin-right: 34px;

    @include tablet {
      margin-top: 20px;
      margin-right: 16px;
      padding: 6px 11px;

      font-weight: 600;
      font-size: 8px;
      line-height: 9px;
    }
  }

  &__how {
    position: relative;
    display: inline-flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--yellow-color);
    transition: all 0.3s ease-in-out;

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      height: 1px;
      width: 100%;
      background: var(--yellow-color);
      transition: all 0.3s ease-in-out;
    }

    @include hover {
      color: var(--green-color);

      &::after {
        background: var(--green-color);
      }
    }

    &:focus {
      outline: none;
      color: var(--light-color);

      &::after {
        background: var(--light-color);
      }
    }

    &:disabled {
      color: var(--grey-color);

      &::after {
        background: var(--grey-color);
      }
    }

    @include tablet {
      font-size: 8px;
      line-height: 10px;
    }
  }

  &__lorem {
    display: flex;
    align-items: center;

    @include mobile {
      display: none;
    }
  }

  &__plate {
    margin-top: 42px;

    @include tablet {
      margin-bottom: 12px;
      width: 152px;
      height: 152px;
    }
  }

  &__text {
    position: relative;
    margin: 0;
    margin-top: 40px;
    margin-left: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--light-color);
    max-width: 200px;

    &::after {
      position: absolute;
      display: block;
      content: '';
      bottom: -32px;
      width: 41px;
      height: 16px;
      background-image: url('../../img/white-arrow.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    @include tablet {
      margin-bottom: 42px;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
    }
  }

  &__right {
    grid-column: 7 / 6 span;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @include mobile {
      display: flex;
      justify-content: center;
    }
  }

  &__img {
    grid-column: 4 span;
    margin-top: auto;
    object-position: bottom;

    // @include tablet {
    //   max-width: 270px;
    //   max-height: 343px;
    // }

    // @include small-tablet {
    //   max-width: 200px;
    //   max-height: 240px;
    // }

    @include mobile {
      max-width: 170px;
      max-height: 219px;
    }
  }

  &__list {
    grid-column: 1 span;
    padding-top: 126px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include mobile {
      display: none;
    }
  }

  &__number {
    margin: 0;
    font-weight: 900;
    font-size: 46px;
    line-height: 56px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--black-color);

    @include tablet {
      font-size: 28px;
      line-height: 34px;
    }
  }

  &__info {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: var(--light-color);

    @include tablet {
      font-size: 8px;
      line-height: 10px;
    }
  }
}

