.how {
  background: #84A178;
  padding-top: 60px;
  padding-bottom: 180px;

  &__container {

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    grid-column: 4 / 6 span;
    margin: 0;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--light-color);

    span {
      font-family: var(--second-font);
      font-weight: 400;
      font-size: 36px;
      line-height: 52px;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }

    @include tablet {
      font-size: 22px;
      line-height: 27px;

      span {
        font-size: 34px;
        line-height: 43px;
      }
    }
  }

  &__img {
    grid-column: 6 span;
    padding-top: 82px;

    @include tablet {
      grid-column: 5 span;
      max-width: 336px;
      max-height: 446px;
    }

    @include mobile {
      padding-top: 32px;
    }
  }

  &__text {
    grid-column: 7 / 5 span;
    padding-top: 172px;
    font-weight: 400;
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;
    color: var(--light-color);

    p {
      margin: 0;
      padding-top: 8px;

      &:first-child {
        font-weight: 400;
        font-size: 16px;
        line-height: 176%;
      }
    }

    @include tablet {
      grid-column: 6 / 7 span;
      padding-top: 98px;
      font-size: 12px;

      p {
        &:first-child {
          font-size: 12px;
        }
      }
    }

    @include mobile {
      padding-top: 32px;
      text-align: center;
    }
  }

  &__btn {
    grid-column: 7 / 2 span;
    margin-top: 48px;

    @include tablet {
      margin-top: 60px;
    }

    @include mobile {
      margin-top: 20px;
    }
  }

  &__list {
    grid-column: 12 span;
    padding-top: 60px;
    display: grid;
    column-gap: var(--offset);
    grid-template-columns: repeat(12, 1fr);

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 28px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 4 span;
  }

  &__icon {
    padding-bottom: 40px;
  }

  &__number {
    margin: 0;
    padding-bottom: 16px;
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--light-color);

    @include tablet {
      font-size: 48px;
      line-height: 59px;
    }
  }

  &__info {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--light-color);

    @include tablet {
      font-size: 14px;
      line-height: 174%;
    }
  }

  &__swiper {
    margin-top: -94px;
  }

  &__slide{
    display: flex;
    justify-content: center;
  }

  &__icecream {
    width: 1012px;
    height: 422px;
    border-radius: 24px;
    margin: 0 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--1 {
      background-image: url('../img/reviews-img-1.jpg');
    }

    &--2 {
      background-image: url('../img/reviews-img-2.jpg');
    }

    &--3 {
      background-image: url('../img/reviews-img-3.jpg');
    }

    @include tablet {
      height: 327px;
    }

    @include small-tablet {
      height: 300px;
    }

    @include mobile {
      height: 130px;
      margin: 0 20px;
    }
  }

}
