.location {
  background: #84A178;
  padding-bottom: 120px;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-top: -96px;
    padding: 40px;
    padding-bottom: 36px;
    max-width: 368px;
    border-radius: 24px;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  }

  &__type {
    display: inline-block;
    margin: 0;
    margin-bottom: 32px;
    padding: 0 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: var(--black-color);
    border-radius: 6px;
    background: #F8D24E;
  }

  &__city {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: var(--black-color);
  }

  &__address {
    font-weight: 500;
    font-size: 16px;
    line-height: 183%;
    letter-spacing: 0.04em;
    color: #D6936D;
    transition: all 0.3s ease-in-out;

    @include hover {
      text-decoration-line: underline;
    }

    &:focus {
      outline: none;
      color: var(--green-color);
    }
  }

  &__time {
    padding: 32px 0;
    margin: 32px 0;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
  }

  &__day {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: var(--dark-color);
  }

  &__working {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    color: #ABABAB;

    &:nth-child(2) {
      margin-bottom: 12px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 183%;
    color: var(--black-color);
    transition: all 0.3s ease-in-out;

    @include hover {
      color: var(--yellow-color);
    }

    &:focus {
      outline: none;
      color: var(--green-color);
    }
  }

  //other stuff

  &__buttons {
    padding-top: 64px;
    display: flex;
    justify-content: center;
  }

  &__btn {
    margin-left: 16px;
    padding: 10px 44px;
  }
}
