<section class="hero">
  <div class="hero__container">
    <div class="container hero__wrapper grid">
      <div class="hero__left">
        <h1 class="hero__title">ice cream made with <span>passion</span></h1>

        <button class="hero__products btn-reset btn-empty" data-graph-path="buy-now">Products</button>
        <button class="hero__how btn-reset">How it's made?</button>

        <div class="hero__lorem">
          <img src="img/plate.png" alt="plate with icecream" class="hero__plate">

          <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        </div>

      </div>

      <div class="hero__right">
        <img src="img/hero-icecream.png" alt="smiley icecream" class="hero__img" width="484" height="590">

        <ul class="list-reset hero__list">
          <li class="hero__item">
            <div class="hero__number">16</div>
            <p class="hero__info">cafes</p>
          </li>

          <li class="hero__item">
            <div class="hero__number">23</div>
            <p class="hero__info">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
