<section class="how">
  <div class="container grid">
    <h2 class="how__title">
      tradition and love <br>
      <span>how it's made?</span>
    </h2>

    <img src="img/how-img.png" alt="cow on a meadow" class="how__img" width="500" height="529">

    <div class="how__text">
      <p>
        Ice is a place where you will become not only a little happier,
        but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts.
      </p>
      <p>
        We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from
        the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes. <br>
      </p>
      <p>
      This is enough to choose ice cream and coffee for any mood!
      </p>

      <button class="btn btn-reset how__btn" data-graph-path="read-more">
        Read more
        <svg class="btn__svg" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 2L8.95 6L4 10" stroke="#131313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>

    <ul class="list-reset how__list">
      <li class="how__item">
        <img src="img/how-icon-1.svg" alt="cow icon" class="how__icon" width="50" height="50">

        <span class="how__number">721</span>

        <p class="how__info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="how__item">
        <img src="img/how-icon-2.svg" alt="cow icon" class="how__icon" width="50" height="50">

        <span class="how__number">16kg</span>

        <p class="how__info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="how__item">
        <img src="img/how-icon-3.svg" alt="cow icon" class="how__icon" width="50" height="50">

        <span class="how__number">84</span>

        <p class="how__info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>

</section>

<div class="swiper how__swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide how__slide">
      <div class="how__icecream--1"></div>
    </div>

    <div class="swiper-slide how__slide">
      <div class="how__icecream--2"></div>
    </div>

    <div class="swiper-slide how__slide">
      <div class="how__icecream--3"></div>
    </div>
  </div>
</div>
