<section class="location">
  <div class="container">
    <ul class="list-reset location__list">
      <li class="location__item">
        <p class="location__type">CAFE</p>

        <p class="location__city">Chicago</p>
        <a href="#" class="location__address">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>

        <div class="location__time">
          <p class="location__day">Monday - Friday</p>
          <p class="location__working">06:00 AM - 10:00 PM</p>

          <p class="location__day">Saturday - Sunday</p>
          <p class="location__working">08:00 AM - 16:00 PM</p>
        </div>

        <a href="tel:+610383766284" class="location__link">+61(0) 383 766 284 </a>
        <a href="email:noreply@envato.com" class="location__link">noreply@envato.com</a>
      </li>

      <li class="location__item">
        <p class="location__type">FOOD TRUCK</p>

        <p class="location__city">Los Angeles</p>
        <a href="#" class="location__address">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>

        <div class="location__time">
          <p class="location__day">Monday - Friday</p>
          <p class="location__working">06:00 AM - 10:00 PM</p>

          <p class="location__day">Saturday - Sunday</p>
          <p class="location__working">08:00 AM - 16:00 PM</p>
        </div>

        <a href="tel:+610383766284" class="location__link">+61(0) 383 766 284 </a>
        <a href="email:noreply@envato.com" class="location__link">noreply@envato.com</a>
      </li>

      <li class="location__item">
        <p class="location__type">CAFE</p>

        <p class="location__city">New York</p>
        <a href="#" class="location__address">726 Sterling Pl, Brooklyn, NY 11222, USA</a>

        <div class="location__time">
          <p class="location__day">Monday - Friday</p>
          <p class="location__working">06:00 AM - 10:00 PM</p>

          <p class="location__day">Saturday - Sunday</p>
          <p class="location__working">08:00 AM - 16:00 PM</p>
        </div>

        <a href="tel:+610383766284" class="location__link">+61(0) 383 766 284 </a>
        <a href="email:noreply@envato.com" class="location__link">noreply@envato.com</a>
      </li>
    </ul>

    <div class="location__buttons">
      <button class="btn btn-reset" data-graph-path="locations">
        Our Locations
        <svg class="btn__svg" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 2L8.95 6L4 10" stroke="#131313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>

      <button class="btn-empty btn-reset location__btn" data-graph-path="franchise">
        Franchise
        <svg class="btn__svg" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 2L8.95 6L4 10" stroke="#131313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </div>
</section>
