<div class="graph-modal">
  <div class="graph-modal__container buy-now" role="dialog" aria-modal="true" data-graph-target="buy-now">
    <button class="btn-reset js-modal-close graph-modal__close buy-now__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content buy-now__content">
      <h3 class="buy-now__title">Buy now</h3>

      <ul class="buy-now__list list-reset">
        <li class="buy-now__item">
          <img src="img/products-img-1.png" alt="icecream" class="buy-now__img" width="350" height="327">

          <h4 class="buy-now__subtitle">ice cream</h4>
        </li>

        <li class="buy-now__item">
          <img src="img/products-img-2.png" alt="ice coffee" class="buy-now__img" width="350" height="327">

          <h3 class="buy-now__subtitle">ice coffee</h3>
          </button>
        </li>

        <li class="buy-now__item">
          <img src="img/products-img-3.png" alt="milkshakes" class="buy-now__img" width="350" height="327">

          <h3 class="buy-now__subtitle">milkshake</h3>
        </li>
      </ul>

      <form action="#" class="form">
        <label class="form__label">
          <input type="text" name="Name" class="input-reset form__input" placeholder="Name">
        </label>

        <label class="form__label">
          <input type="phone" name="Phone" class="input-reset form__input" placeholder="Phone">
        </label>

        <label class="form__label">
          <input type="text" name="Comment" class="input-reset form__input form__comment" placeholder="Comment">
        </label>
        <button class="btn-reset form__btn btn">Submit</button>
      </form>

    </div>
  </div>

  <div class="graph-modal__container icecream" role="dialog" aria-modal="true" data-graph-target="icecream">
    <button class="btn-reset js-modal-close graph-modal__close icecream__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content icecream__content">
      <h3 class="icecream__title">Chocolate icecream</h3>

      <img src="img/choc-icecream.png" alt="chocolate icecream" class="icecream__img" width="172" height="138">

      <ul class="list-reset icecream__nutrients">
        <li class="icecream__item">
          <div class="icecream__circle">
            <p class="icecream__number">320</p>
          </div>
          <p class="icecream__type">kcal</p>
        </li>

        <li class="icecream__item">
          <div class="icecream__circle">
            <p class="icecream__number">4g</p>
          </div>
          <p class="icecream__type">Protein</p>
        </li>

        <li class="icecream__item">
          <div class="icecream__circle">
            <p class="icecream__number">8,2g</p>
          </div>
          <p class="icecream__type">Fats</p>
        </li>

        <li class="icecream__item">
          <div class="icecream__circle">
            <p class="icecream__number">40,4g</p>
          </div>
          <p class="icecream__type">Carbs</p>
        </li>
      </ul>

      <h3 class="icecream__subtitle">Ingredients</h3>

      <ul class="list-reset icecream__ingredients">
        <li class="icecream__ingredient">
          <p class="icecream__name">Milk</p>
          <p class="icecream__weight">100ml</p>
        </li>

        <li class="icecream__ingredient">
          <p class="icecream__name">Belgian chocolate</p>
          <p class="icecream__weight">20g</p>
        </li>

        <li class="icecream__ingredient">
          <p class="icecream__name">Cream</p>
          <p class="icecream__weight">150 ml</p>
        </li>

        <li class="icecream__ingredient">
          <p class="icecream__name">Cocoa powder</p>
          <p class="icecream__weight">30g</p>
        </li>

        <li class="icecream__ingredient">
          <p class="icecream__name">Sugar</p>
          <p class="icecream__weight">40g</p>
        </li>

        <li class="icecream__ingredient">
          <p class="icecream__name">Vanilla sugar</p>
          <p class="icecream__weight">10g</p>
        </li>
      </ul>

      <form action="#" class="form">
        <label class="form__label">
          <input type="text" name="Name" class="input-reset form__input" placeholder="Name">
        </label>

        <label class="form__label">
          <input type="phone" name="Phone" class="input-reset form__input" placeholder="Phone">
        </label>

        <label class="form__label">
          <input type="text" name="Comment" class="input-reset form__input form__comment" placeholder="Comment">
        </label>
        <button class="btn-reset form__btn btn">Submit</button>
      </form>

    </div>
  </div>

  <div class="graph-modal__container read-more" role="dialog" aria-modal="true" data-graph-target="read-more">
    <button class="btn-reset js-modal-close graph-modal__close read-more__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content read-more__content">
      <h3 class="read-more__title">How it's made?</h3>

      <iframe width="448" height="205" src="https://www.youtube.com/embed/7XV7whomojk" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      <p class="read-more__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor
        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      </p>
    </div>
  </div>

  <div class="graph-modal__container locations" role="dialog" aria-modal="true" data-graph-target="locations">
    <button class="btn-reset js-modal-close graph-modal__close locations__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content locations__content">
      <h3 class="locations__title">Our Locations</h3>

      <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5346.125567985961!2d-87.78132022869455!3d41.702697682605155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e39ad302b2c19%3A0xc808e9b14d04eb2b!2s10340%20Ridgeland%20Ave%2C%20Chicago%20Ridge%2C%20IL%2060415%2C%20%D0%A1%D0%A8%D0%90!5e0!3m2!1sru!2sru!4v1681551700688!5m2!1sru!2sru"
      width="448" height="260" style="border:0;"
      allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      <button class="btn-reset btn locations__btn">Open map</button>
    </div>
  </div>

  <div class="graph-modal__container franchise" role="dialog" aria-modal="true" data-graph-target="franchise">
    <button class="btn-reset js-modal-close graph-modal__close franchise__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content franchise__content">
      <h3 class="franchise__title">Thank you for your interest in owning an Ice Cream shop</h3>

      <p class="franchise__text">
        Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at
        this time. Once the application process resumes, we will contact you for further information. Please fill out the contact
        information below and we will reach out for additional information. We appreciate your patience.
      </p>

      <form action="#" class="franchise__form form">
        <label class="form__label">
          <input type="text" name="Name" class="input-reset franchise__input form__input" placeholder="Name">
        </label>

        <label class="form__label">
          <input type="phone" name="Phone" class="input-reset franchise__input form__input" placeholder="Phone">
        </label>

        <label class="form__label">
          <input type="email" name="Email" class="input-reset franchise__input form__input" placeholder="Email">
        </label>

        <label class="form__label">
          <input type="text" name="Comment" class="input-reset franchise__comment form__input form__comment" placeholder="Comment">
        </label>
        <button class="btn-reset form__btn btn">Submit</button>
      </form>

    </div>
  </div>

</div>
