<div class="graph-modal">
  <div class="graph-modal__container buy-now" role="dialog" aria-modal="true" data-graph-target="buy-now">
    <button class="btn-reset js-modal-close graph-modal__close buy-now__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content buy-now__content">
      <h3 class="buy-now__title">Buy now</h3>

      <ul class="buy-now__list list-reset">
        <li class="buy-now__item">
          <img src="img/products-img-1.png" alt="icecream" class="buy-now__img" width="350" height="327">

          <h4 class="buy-now__subtitle">ice cream</h4>
        </li>

        <li class="buy-now__item">
          <img src="img/products-img-2.png" alt="ice coffee" class="buy-now__img" width="350" height="327">

          <h3 class="buy-now__subtitle">ice coffee</h3>
          </button>
        </li>

        <li class="buy-now__item">
          <img src="img/products-img-3.png" alt="milkshakes" class="buy-now__img" width="350" height="327">

          <h3 class="buy-now__subtitle">milkshakes</h3>
        </li>
      </ul>

      <form action="#" class="form">
        <label class="form__label">
          <input type="text" name="Name" class="input-reset form__input" placeholder="Name">
        </label>

        <label class="form__label">
          <input type="phone" name="Phone" class="input-reset form__input" placeholder="Phone">
        </label>

        <label class="form__label">
          <input type="text" name="Comment" class="input-reset form__input form__comment" placeholder="Comment">
        </label>
        <button class="btn-reset form__btn btn">Submit</button>
      </form>

    </div>
  </div>

  <div class="graph-modal__container icecream" role="dialog" aria-modal="true" data-graph-target="icecream">
    <button class="btn-reset js-modal-close graph-modal__close icecream__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content icecream__content">
      <h3 class="icecream__title">Chocolate icecream</h3>

      <img src="img/choc-icecream.png" alt="chocolate icecream" class="icecream__img" width="172" height="138">

      <ul class="list-reset icecream__nutrients">
        <li class="icecream__item">
          <div class="icecream__circle">
            <p class="icecream__number">320</p>
          </div>
          <p class="icecream__type">kcal</p>
        </li>

        <li class="icecream__item">
          <div class="icecream__circle">
            <p class="icecream__number">4g</p>
          </div>
          <p class="icecream__type">Protein...</p>
        </li>

        <li class="icecream__item">
          <div class="icecream__circle">
            <p class="icecream__number">8,2g</p>
          </div>
          <p class="icecream__type">Fats</p>
        </li>

        <li class="icecream__item">
          <div class="icecream__circle">
            <p class="icecream__number">40,4g</p>
          </div>
          <p class="icecream__type">Carbs</p>
        </li>
      </ul>

      <h3 class="icecream__subtitle">Ingredients</h3>

      <ul class="list-reset icecream__ingredients">
        <li class="icecream__ingredient">
          <p class="icecream__name">Milk</p>
          <p class="icecream__weight">100ml</p>
        </li>

        <li class="icecream__ingredient">
          <p class="icecream__name">Belgian chocolate</p>
          <p class="icecream__weight">20g</p>
        </li>

        <li class="icecream__ingredient">
          <p class="icecream__name">Cream</p>
          <p class="icecream__weight">150 ml</p>
        </li>

        <li class="icecream__ingredient">
          <p class="icecream__name">Cocoa powder</p>
          <p class="icecream__weight">30g</p>
        </li>

        <li class="icecream__ingredient">
          <p class="icecream__name">Sugar</p>
          <p class="icecream__weight">40g</p>
        </li>

        <li class="icecream__ingredient">
          <p class="icecream__name">Vanilla sugar</p>
          <p class="icecream__weight">10g</p>
        </li>
      </ul>

      <form action="#" class="form">
        <label class="form__label">
          <input type="text" name="Name" class="input-reset form__input" placeholder="Name">
        </label>

        <label class="form__label">
          <input type="phone" name="Phone" class="input-reset form__input" placeholder="Phone">
        </label>

        <label class="form__label">
          <input type="text" name="Comment" class="input-reset form__input form__comment" placeholder="Comment">
        </label>
        <button class="btn-reset form__btn btn">Submit</button>
      </form>

    </div>
  </div>
</div>
