<section class="products">
  <div class="container products__container">
    <h2 class="products__title">
      100% natural
      <span>
        products
      </span>
    </h2>

    <ul class="products__list list-reset grid">
      <li class="products__item">
        <img src="img/products-img-1.png" alt="icecream" class="products__img" width="350" height="327">

        <h3 class="products__subtitle">ice cream</h3>

        <p class="products__info">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
        </p>

        <button class="products__btn btn-reset"></button>
      </li>

      <li class="products__item">
        <img src="img/products-img-2.png" alt="ice coffee" class="products__img" width="350" height="327">

        <h3 class="products__subtitle">ice coffee</h3>

        <p class="products__info">
          Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers
        </p>

        <button class="products__btn btn-reset">
          
        </button>
      </li>

      <li class="products__item">
        <img src="img/products-img-3.png" alt="milkshakes" class="products__img" width="350" height="327">

        <h3 class="products__subtitle">milkshakes</h3>

        <p class="products__info">
          Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice
        </p>

        <button class="products__btn btn-reset"></button>
      </li>
    </ul>

  </div>
</section>
