<section class="reviews">
  <div class="container">


    <div class="swiper reviews__swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="reviews__item">
            <img src="img/reviews-avatar-1.png" alt="avatar" class="reviews__avatar">

            <p class="reviews__text">
              I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles!
              In addition, you have beautiful serving, cozy atmosphere and polite staff.
            </p>

            <p class="reviews__info">Emily, Los Angeles</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews__item">
            <img src="img/reviews-avatar-2.png" alt="avatar" class="reviews__avatar">

            <p class="reviews__text">
              I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.
            </p>

            <p class="reviews__info">Sam, Los Angeles</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews__item">
            <img src="img/reviews-avatar-3.png" alt="avatar" class="reviews__avatar">

            <p class="reviews__text">
              Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
              really like the excellent service - always served politely and quickly!
            </p>

            <p class="reviews__info">Diana, Chicago</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews__item">
            <img src="img/reviews-avatar-4.png" alt="avatar" class="reviews__avatar">

            <p class="reviews__text">
              Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!
            </p>

            <p class="reviews__info">Bryan, New-York</p>
          </div>
        </div>

      </div>

      <div class="swiper-pagination reviews__pagination">
        <!-- <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span> -->
      </div>
    </div>

  </div>
</section>
